{#**
 * Price Modifier
 * Copyright since 2021 JB Stoker and Contributors
 * <JB Stoker> Property
 *

 * @author    JB Stoker <jelmer@ijzershop.nl>
 * @copyright Since 2021 JB Stoker
 * @license   https://opensource.org/licenses/MIT
 *#}

{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% block contact_form %}
  {{ form_start(price_modificationForm) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">location_city</i> {{ 'Price List Upload'|trans({}, 'Modules.Pricemodifier.Admin') }}</h3>
    <div class="card-block row">
      <div class="card-text">
        {{ form_errors(price_modificationForm) }}

        {% block price_modification_form_rest %}
          {{ form_rest(price_modificationForm) }}
        {% endblock %}
      </div>
    </div>
    <div class="card-footer">
      <a href="{{ path('modernesmid_pricemodifier_price_modification_index') }}" class="btn btn-outline-secondary">
        {{ 'Cancel'|trans({}, 'Admin.Actions') }}
      </a>
      <button class="btn btn-primary float-right" id="upload-xml-button">
        {{ 'Upload'|trans({}, 'Admin.Actions') }}
      </button>
    </div>
  </div>
  {{ form_end(price_modificationForm) }}
{% endblock %}
