{# **
 * Price Modifier
 * Copyright since 2021 JB Stoker and Contributors
 * <JB Stoker> Property
 *

 * @author    JB Stoker <jelmer@ijzershop.nl>
 * @copyright Since 2021 JB Stoker
 * @license   https://opensource.org/licenses/MIT
 * #}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content_header %}
  <link rel="stylesheet" href="{{ asset('../modules/pricemodifier/views/css/price_modifications.css') }}"/>
  <link rel="stylesheet" href="{{ asset('../modules/pricemodifier/node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}"/>
  <link rel="stylesheet" href="{{ asset('../modules/pricemodifier/node_modules/chartist/dist/chartist.css') }}"/>
  <link rel="stylesheet" href="{{ asset('../js/jquery/ui/jquery-ui.css') }}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col mb-3">
      <a class="btn btn-primary pointer" id="page-header-desc-configuration-infoshowhide"
         href="#show_hide_info_formule" title="Toggle info" data-toggle="collapse" role="button" aria-expanded="false">
        <i class="material-icons">info</i> Toggle info
      </a>
    </div>
    <div class="col mb-3">
      <a class="btn btn-primary pointer float-right" id="page-header-missed-products-infoshowhide"
         href="#show_hide_missed_products" title="Toggle info" data-toggle="collapse" role="button" aria-expanded="false">
        <i class="material-icons">info</i> Toggle missed products
      </a>
    </div>
  </div>
  <div class="row">
  <div class="col-12 col-lg-6">
    {#    Infoblock start    #}

    <div id="select2_data_link" data-link="{{ admin_select2_data_link }}"></div>
    <div id="datatable_missed_data_link" data-link="{{ admin_datatable_missed }}"></div>
    <div class="collapse card p-2" id="show_hide_info_formule">
      <div class="col">
        <div class="row">
          <div class="col">
            <h2>Formules</h2>
            <p>De formules kunnen ingevoerd worden als een som, om de formule te testen hoeft deze niet opgeslagen
              worden. Doormiddel van het klikken op de knop naast het nieuw prijs veld word er een berekening gedaan op
              basis van de ingevoerde gegevens.
              De gerenderde formule word getoond onder het fomule vak, en de nieuwe berekende prijs word in het veld van
              nieuwe prijs geladen.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Voor de som kunnen de volgende karakters gebruikt worden.</p>
            <ul class="list-unstyled">
              <li><b>+</b> Optellen</li>
              <li><b>-</b> Aftrekken</li>
              <li><b>*</b> Vermenigvuldigen</li>
              <li><b>/</b> Delen</li>
              <li><b>()</b> Groeperen</li>
              <li><b>%</b> Modulus</li>
            </ul>
          </div>
          <div class="col-6">
            <p>Voor variabele waarden kan er gebruik gemaakt worden van de onderstaande onderdelen. Hierbij moet ieder
              onderdeel omsloten zijn met accolades {}.
              Let wel op dat de waarde wel beschikbaar moet zijn in de database, anders zal deze leeg blijven of een
              error geven.</p>
            <ul class="list-unstyled">
              <li><b>{HL}</b> Handelslengte vanuit xml leverancier</li>
              <li><b>{GHL}</b> Gewicht Handelslengte vanuit xml leverancier</li>
              <li><b>{GML}</b> Gewicht per meter vanuit xml leverancier</li>
              <li><b>{PL}</b> Geselecteerde prijs vanuit xml leverancier</li>
              <li>
                <hr>
              </li>
              <li><b>{GW}</b> Gewicht van geselecteerd product uit database van de webshop</li>
              <li><b>{HW}</b> Handelslengte van geselecteerd product uit database van de webshop</li>
              <li><b>{PW}</b> Huidige prijs van geselecteerd product uit database van de webshop</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {#    Infoblock end    #}
  </div>
  <div class="col-12 col-lg-6">
    <div class="collapse card p-2" id="show_hide_missed_products">
      <table id="missed-products-table" class="table w-100">
        <thead>
          <tr>
            <th>Leverancier naam</th>
            <th>Winkel Product</th>
            <th>Huidige prijs</th>
            <th>Laatste update modifier</th>
            <th>Laatste update product</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <th><input class="form-control" type="text" placeholder="Zoek naam lev." /></th>
        <th><input class="form-control" type="text" placeholder="Zoek naam shop" /></th>
        <td></td>
        <th><input id="missing_records_from" class="form-control" type="text" placeholder="Zoek record wijziging" /><input id="missing_records_to" class="form-control" type="text" placeholder="Zoek record wijziging" /></th>
        <th><input id="price_update_from" class="form-control" type="text" placeholder="Zoek prijs wijziging" /><input id="price_update_to" class="form-control" type="text" placeholder="Zoek prijs wijziging" /></th>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="col-12 offset-lg-6 col-lg-6 mt-2">
    <div class="card pb-3 pt-3 ">
      <div class="col-12 p-0 d-flex justify-content-center">
        <form action="#" id="bulk-update-formula-form"  class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" id="price-formula-bulk-label">Price Formula</label>
            </div>
            <input type="text" class="form-control" placeholder="...." aria-label="Price Formula" id="price-formula-bulk-input" aria-describedby="price-formula-bulk-label">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" id="increment-formula-bulk-label">Increment Formula</label>
            </div>
            <input type="text" class="form-control" placeholder="...." aria-label="Price Formula" id="increment-formula-bulk-input" aria-describedby="increment-formula-bulk-label">
          </div>
          <div class="btn-group ml-2" role="group" aria-label="group">
            <button type="button" id="bulk-update-clear" class="btn btn-secondary">Clear</button>
            <button type="button" id="bulk-update-update" class="btn btn-warning">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% block price_modifications_list_panel %}




      <div class="col-12">
        {% include '@Modules/pricemodifier/views/templates/admin/grid/grid_panel.html.twig' with {'grid': price_modificationGrid} %}
      </div>
    </div>

  {% endblock %}


  <script src="{{ asset('../modules/pricemodifier/views/js/price_modifications.bundle.js') }}"></script>
{% endblock %}


