<div class="card">
  <div class="card-header">
    BTW Belgie Per Maand Weergave
  </div>
  <div class="card-body">
    <br>
    {#   Van Datum text   #}
    <div class="form-group col-xs-5">
      <label class="control-label col-xs-2">
        Vanaf
      </label>
      <div class="col-xs-10">
        <input type="date" name="from"
               id="from_vat"
               value="{{ from }}" class="form-control">
        <p class="help-block">Vul de start datum in vanaf u de berekening wilt doen</p>
      </div>
    </div>
    {#   Tot Datum text   #}
    <div class="form-group col-xs-5">
      <label class="control-label col-xs-2">
        Tot
      </label>
      <div class="col-xs-10">
        <input type="date" name="to"
               id="to_vat"
               value="{{ to }}" class="form-control">
        <p class="help-block">Vul de eind datum in tot wanneer u de berekening wilt doen</p>
      </div>
    </div>
    <div class="col-xs-2">
      <button type="button" id="updateVatPanelData" class="btn btn-primary col-xs-12 p-0">OK</button>
    </div>
    <div class="col-xs-12">
      <table class="table w-100" id="history-records-table">
        <thead>
        <tr>
          <td>Datum</td>
          <td class="text-center">Aantal bestellingen</td>
          <td class="text-center">Bestelbedrag incl. btw</td>
          <td class="text-center">Bestelbedrag excl. btw</td>
          <td class="text-right">Totaal btw</td>
        </tr>
        </thead>
        <tbody>


        {% for history_vat_record in vat_history %}
          <tr class="prev_row history-row" data-references="{{ history_vat_record.reference_list }}">
            <td><small>{{ history_vat_record.date_from|date("M - Y") }}</small></td>
            <td class="text-center" id="total_belgium">{{ history_vat_record.total_orders }}</td>
            <td class="text-center" id="total_amount_belgium">{{ history_vat_record.total_incl|number_format(2, '.', ',')  }}</td>
            <td class="text-center" id="total_amount_belgium">{{ history_vat_record.total_excl|number_format(2, '.', ',') }}</td>
            <td class="text-right h2" id="total_vat_belgium">{{ history_vat_record.total_vat|number_format(2, '.', ',') }}</td>
          </tr>
        {% endfor %}


        </tbody>
      </table>
      <table class="table w-100">
        <tr class="current_row">
          <td><small>{{ from|date("d-m-Y") }} - {{ to|date("d-m-Y") }}</small></td>
          <td class="text-center" id="total_belgium">{{ total_belgium_orders }}</td>
          <td class="text-center" id="total_amount_belgium">{{ total_belgium_order_amount_incl }}</td>
          <td class="text-center" id="total_amount_belgium">{{ total_belgium_order_amount_excl }}</td>
          <td class="text-right h2" id="total_vat_belgium">{{ total_belgium_vat }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="show-order-references">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bestel referenties
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>

      </div>
      <div class="modal-body">
        <p>Hieronder een lijst met de betreffende bestellingen, klik op een bestel referentie om naar de bestelling te gaan.</p>
        <div class="modal-table-box">
          <table class="table" id="order-references-table">
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<style>


  #history-records-table tbody {
    display: block;
    height: 450px;
    overflow: auto;
    overflow-anchor: none;
  }
  #history-records-table thead, #history-records-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
  }
  #history-records-table tbody tr{
    overflow-anchor: auto;
  }

  #show-order-references .modal-body .modal-table-box{
    max-height: 60vh;
    overflow-y: scroll;
  }

  tr.current_row > td.h2 {
    font-size: 25px !important;
  }

  tr.current_row > td {
    background-color: orange !important;
    color: white !important;
    vertical-align: middle !important;
  }

  .history-reference-row{
    text-decoration: none;
    color:#000000!important;
    font-size: 15px;
  }
  .history-reference-row:hover{
    text-decoration: underline!important;
    color:#7C7C7C!important;
  }

</style>

{% block javascripts %}
  <script type="application/javascript">
    $('#updateVatPanelData').on('click', function (e) {
      let from = $('#from_vat').val();
      let to = $('#to_vat').val();
      $.ajax({
        url: window.msThemeConfigAjaxUrl + 'vat?from=' + from + '&to=' + to,
      }).done(function (e) {
        $('#v-pills-vat').html(e);
      });
    });

    $('.history-row').on('click', function () {
      let tableList = "";
      let data = $(this).data('references').split(',');
      for (let i = 0; i < data.length; i++) {

        if(data[i] === ""){
          continue;
        }

        if(i % 2 === 0){
          tableList += "<tr><td><a class='history-reference-row' href='/admin-dev/index.php/sell/orders/?order[filters][reference]="+data[i]+"' target='_blank'>" + data[i] + "</a></td>";
        } else {
          tableList += "<td><a class='history-reference-row'  href='/admin-dev/index.php/sell/orders/?order[filters][reference]="+data[i]+"' target='_blank'>" + data[i] + "</a></td></tr>";
        }
      }

      $('#order-references-table tbody tr').remove();
      $('#order-references-table tbody').append(tableList);

      $('#show-order-references').modal('show');
    });

  </script>
{% endblock %}
